name: flutter_translate_fix
description: Flutter Translate is a fully featured localization / internationalization (i18n) library for Flutter.
version: 1.0.1
homepage: https://jesway.com
repository: https://github.com/agroop/flutter_translate_fix

environment:
  sdk: '>=2.17.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: